@{
    ViewBag.Title = "Git Release Notes";
}

<h1>Git Release Notes</h1>

<div ng-controller="HomeController">

    <p>
        Generate the release notes of any public repository down here.
    </p>

    <div class="form-group">
        <label for="repositoryUrl">Repository url</label>
        <input type="text" class="form-control" id="repositoryUrl" ng-model="repositoryUrl"
               placeholder="e.g. https://github.com/catel/catel" autocomplete="off">
    </div>

    <div class="form-group">
        <label for="repositoryBranch">Repository branch</label>
        <input type="text" class="form-control" id="repositoryBranch" ng-model="repositoryBranch"
               placeholder="e.g. develop" autocomplete="off">
    </div>

    <div class="form-group">
        <label for="issueTrackerUrl">Issue tracker url</label>
        <input type="text" class="form-control" id="issueTrackerUrl" ng-model="issueTrackerUrl"
               placeholder="e.g. https://catelproject.atlassian.net" autocomplete="off">
    </div>

    <div class="form-group">
        <label for="issueTrackerProjectId">Issue tracker project id</label>
        <input type="text" class="form-control" id="issueTrackerProjectId" ng-model="issueTrackerProjectId"
               placeholder="e.g. CTL" autocomplete="off">
    </div>

    <button type="button" class="btn btn-lg btn-default" ng-click="useExampleValues()">Use example values</button>
    <button type="button" class="btn btn-lg btn-primary" ng-click="generateReleaseNotes()">Generate release notes</button>

    <div class="form-group">
        <textarea class="form-control" id="releaseNotes" ng-model="releaseNotes" ng-show="releaseNotes !== ''"></textarea>
    </div>

</div>